pos.principal=pos
pos.credentials=pos!!pos!300
paymentChek.principal=paymentchek
paymentChek.credentials=PmtChk3902
vps.principal=vps
vps.credentials=vps!vps!vps!

kyaoc.ftpUser=KYAOC
kyaoc.userPass=KYCO000A
davidson.ftpUser=davidson
davidson.userPass=vitalchek

ngpos.principal=ngpos_system
ngpos.credentials=pos!!pos!300

aes.keyfile.encryption.key=5488743A55B002F1AC8B7F78350AED7E
aes.keyfile.encryption.iv=B979A77798BAF046DBFA3F4FD9C44BCD

