#<!-- ========================================== -->
#<!-- Properties that apply only to this server  -->
#<!-- ========================================== -->

server.name={{ inventory_hostname_short }}-a
use.canned.co.response=false

run.jdbc.quartz.scheduler.on.this.server=true
run.ram.quartz.scheduler.on.this.server=true

# Scheduler used for jobs that should only run on one server per cluster
run.quartz.scheduler.on.this.server=false

server.port={{ vpsAport }}
wsdl.rewrite.server.name={{ inventory_hostname_short }}
