#<!-- ===================================================================== -->
#<!-- Properties that are shared by all VPS servers, regardless of platform -->
#<!-- ===================================================================== -->

fop.config.file=/vc/etc-b/config/jboss-eap-6.3/conf/fop-config.xml
procheck.xsd.file.path=com/vitalchek/vps/proid/services/

vps.wsdl.location=/vc/vpsservice-b/current/standalone/data/wsdl

vitalchek.logo.location=/vc/etc-b/config/jboss-eap-6.3/images/LN_cmyk_h_pos_305x59.jpg

shipment.template.domestic=/vc/etc-b/config/jboss-eap-6.3/conf/ShipRequest.xml
shipment.template.international=/vc/etc-b/config/jboss-eap-6.3/conf/ShipRequestIntl.xml
shipment.template.puertorico.domestic=/vc/etc-b/config/jboss-eap-6.3/conf/ShipRequest_PR.xml
shipment.template.puertorico.international=/vc/etc-b/config/jboss-eap-6.3/conf/ShipRequestIntl_PR.xml
void.template=/vc/etc-b/config/jboss-eap-6.3/conf/VoidRequest.xml
close.template=/vc/etc-b/config/jboss-eap-6.3/conf/CloseoutRequest.xml
eod.template=/vc/etc-b/config/jboss-eap-6.3/conf/EODFileRequest.xml
shipment.no.label.image=/vc/etc-b/config/jboss-eap-6.3/images/no_label.gif
address.validate.template=/vc/etc-b/config/jboss-eap-6.3/conf/AddressValidateRequest.xml

InvalidPaymentInfo.email.from=VPSDevelopment-OrderService@vitalchek.com
InvalidPaymentInfo.email.subject=Fraudulent payment data detected

image.path.uri=/vc/etc-b/config/jboss-eap-6.3/images
conf.path.uri=/vc/etc-b/config/jboss-eap-6.3/conf

temp.gpgDecrypt.folder=/vc/etc-b/tmp/

gpg.exe.location=/usr/bin/gpg
gpgpg.exe.location=/usr/bin/gpg

pgp.encrypt.batFileName=doGpgEncryption.sh
pgp.decrypt.batFileName=doGpgDecryption.sh
pgp.sign.batFileName=doGpgSign.sh
pgp.encrypt.sign.batFileName=doGpgEncryptSign.sh

encryptionUtil.properties.location=/vc/etc-b/config/jboss-eap-6.3/conf/encryptionUtil.properties

b2b.image.path=/vc/etc-b/config/jboss-eap-6.3/images/

JMS_JBOSS_REDELIVERY_DELAY=1800000

external.image.share=/media/images
store.images.externally=true
 
sftp.file.location=/media/sftp
sftp.sleep.time.before.retry=2

#CTC WADL Locations used by PostAuth and PaymentChek for interfacing with CTC
ctc_payment_wsdl_location=file:///vc/etc-b/config/jboss-eap-6.3/wsdl/CTC_Payment_Confirmation_v2.WSDL
ctc_proId_wsdl_location=file:///vc/etc-b/config/jboss-eap-6.3/wsdl/CTC_User_Authentication_v2.wsdl

cookCounty.server=http://www.cookcountygenealogy.com

auth.txn.description.file=/vc/etc-b/config/jboss-eap-6.3/conf/AuthServerConfig.xml

global.card.socket.timeout=180000
global.check.socket.timeout=180000

global.auth.server=208.255.233.166
global.auth.port=18482
global.check.auth.server=gpauth.risk.regn.net
global.check.auth.port=18348

global.east.auth.server=gpauth.risk.regn.net
global.east.auth.port=18735
global.east.card.socket.timeout=20000

#Global East SSL connection info
global.east.use.ssl=false
global.use.ssl.for.check=false
global.east.ssl.process.mode=PRODUCTION
global.east.ssl.auth.server=igusproda.globalpay.com
global.east.ssl.auth.port=443
global.east.ssl.card.socket.timeout=20000

fifth.third.network.routing.code=8N0000
fifth.third.ip.addr=204.90.9.225
fifth.third.ip.host=5007
fifth.third.socket.timeout=45000

vantiv.cws.svc.primary.url=https://cws-01.ipcommerce.com/2.0.16/SvcInfo
vantiv.cws.svc.secondary.url=https://cws-01.ipcommerce.com/2.0.16/SvcInfo
vantiv.cws.txn.primary.url=https://cws-01.ipcommerce.com/2.0.16/Txn
vantiv.cws.txn.secondary.url=https://cws-01.ipcommerce.com/2.0.16/Txn
vantiv.cws.tms.primary.url=https://cws-01.ipcommerce.com/2.0.16/DataServices/TMS
vantiv.cws.tms.secondary.url=https://cws-01.ipcommerce.com/2.0.16/DataServices/TMS

vantiv.cws.properties.location=/vc/etc-b/config/jboss-eap-6.3/conf/vantivcws.properties

tsys.auth.server=https://ssl1.tsysacquiring.net/scripts/gateway.dll?transact
tsys.auth.port=443
tsys.routing.number=TSH950
tsys.developer.id=001409
tsys.version.terminal.capture=B101
tsys.authentication.code=PPPQP
tsys.store.number=0001
tsys.merchant.category.code=9399
tsys.connect.timeout=20000
tsys.auth.read.timeout=20000
tsys.settlement.read.timeout=600000

co.courts.url=https://www.jbits.courts.state.co.us/pas/webservices/searchSvc.cfc?wsdl
co.courts.ui.code=E8A76354-CAEA-D691-420DD7D16054EB94
co.courts.user.id=0101363901969B332AFD4DE001
co.courts.user.name=pasbilling@vitalchek.com
co.courts.wait.for.results=0

use.jasper.for.ups.labels=true

temp.files.path=/tmp
temp.files.totalPatterns=16
temp.files.patterns.0=PAYMENTCHEK_FTP*.txt
temp.files.patterns.1=KYAOC*.txt
temp.files.patterns.2=FAX*.tiff
temp.files.patterns.3=RollupReport*.XLS
temp.files.patterns.4=CertificateSalesByTypeReport*.PDF
temp.files.patterns.5=shippingProductivityReport*.PDF
temp.files.patterns.6=NORTH_CAROLINA_INTERFACE*.txt
temp.files.patterns.7=VoidByAgencyReport*.PDF
temp.files.patterns.8=AwaitingEntitlementReport*.PDF
temp.files.patterns.9=COOK_CO_Sheriff*.txt
temp.files.patterns.10=OrdersNotShippedReport*.PDF
temp.files.patterns.11=DavidsonCloseoutTemp*.txt
temp.files.patterns.12=FlVitalsBatcheOrders*.dat
temp.files.patterns.13=FlVitalsBatcheOrders_lineCount*.tag
temp.files.patterns.14=FlSeminoleCoVITALS*.dat
temp.files.patterns.15=FlSeminoleCoVITALS_lineCount*.tag

first.data.datawire.srs.url=https://support.datawire.net/rc/srssoap/
first.data.datawire.txn.url=https://prod.dw.us.fdcnet.biz/rc
first.data.tpp.id.value=RVI007
first.data.group.id=10001
first.data.timeout=40
first.data.service.id=160
first.data.mcc.ecom=9399
first.data.mcc.moto=9399
first.data.mcc.retail=9399
sps.url=https://spaysys.com/cgi-bin/cgiwrap-noauth/dl4ub/uncgi-noauth/tinqpstpbf.cgi
sps.timeout=40000

aes.encryptionUtil.properties.location=/vc/etc-b/config/jboss-eap-6.3/conf/aes.encryptionUtil.properties

wsdone.logging.threashold=5

elavon.url=https://prodgate.viaconex.com/cgi-bin/encompass4.cgi
elavon.ssl.socket.timeout=40000
elavon.registration.key=00D9D333MG0P11VBX170
elavon.retail.application.id=TZLN01GC
elavon.moto.application.id=TZLN01MC
elavon.ecom.application.id=TZLN01IC
elavon.vendor.id=LN01
elavon.destination.id=8141
elavon.file.extension=.edc
elavon.settlement.file.location=/vc/etc-b/tmp/
